.service-b-section{
    background-color: #ffffff;
    min-height: 400px
}

.service-b-section .content{
    padding: 20px 20px 0px 20px;
}

.tab-item{
    text-align: center;
    background-color : #7c8d93;
    color: white;
}
.tab-item:hover, .tab-item-selected {
    text-align: center;
    background-color: #c4deec;
    color: white;
}

